# LAMBDA FUNCTIONS

In [1]:
###normal function

def add_val(x, y):
    b = (x + y) + 5
    return b

add_val(2, 6)

13

In [2]:
####lambda  function

add_val = lambda x, y: (x + y) + 5

add_val(2, 6)

13

In [3]:
b = "hello world!"
a = lambda string: f"{string}  Ada"
a(b)

'hello world!  Ada'

In [4]:
string = "be my guest"
(lambda string: string)(string)

'be my guest'

In [7]:
table = [lambda x = x: x * 10 for x  in range(1, 11)]

for i in table:
    print(i())

10
20
30
40
50
60
70
80
90
100

In [8]:
max_val = lambda a, b : a if (a>b) else b
max_val(15, 10)

15

# FILTER  IN LAMBDAR

In [10]:
lst = [5, 7, 22, 97, 62, 54, 77, 23]
a = lambda x: (x%2 == 0)
new_lst = list(filter(a, lst))
new_lst

[22, 62, 54]

In [11]:
vamp_list = [13, 90, 17, 59, 21, 60, 5]
z = lambda x: (x > 18)
n_vamp = list(filter(z, vamp_list))
n_vamp

[90, 59, 21, 60]

# MAPPING IN LAMBDAR

In [18]:
b = lambda x: x/2
new_val = list(map(b,  vamp_list))
new_val

[6.5, 45.0, 8.5, 29.5, 10.5, 30.0, 2.5]

In [17]:
names = ["john", "rihad", "perez", "keita"]
u_name = lambda n: n[0].upper() + n[1:] 
n_names = list(map(u_name, names))
n_names

['John', 'Rihad', 'Perez', 'Keita']

# NEW DATA

In [113]:
import pandas as pd
import numpy as np
import os
import datetime

file = "C:/Users/IROANYA/Documents/DATA ANALYSIS FILES/Online Retail.xlsx"

In [114]:
df = pd.read_excel(file)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [116]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [117]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [118]:
nan = df.isna().sum().reset_index()
nan.columns = ["columns", "counts"]
nan

       columns  counts
0    InvoiceNo       0
1    StockCode       0
2  Description    1454
3     Quantity       0
4  InvoiceDate       0
5    UnitPrice       0
6   CustomerID  135080
7      Country       0

In [119]:
missing = nan[nan["counts"] > 0]
m_s = np.array(missing["columns"])
m_s

array(['Description', 'CustomerID'], dtype=object)

In [120]:
for i in m_s:
    df = df.fillna("missing")

In [121]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [122]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 33.1+ MB

In [124]:
##converting the invoice date from datetime to string

df["InvoiceDate"] = df["InvoiceDate"].astype(str)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  object
 7   Country      541909 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 33.1+ MB

In [125]:
df[["Date", "Time"]] = df["InvoiceDate"].str.split(" ", expand = True)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,08:26:00
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,08:26:00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00

# converting the negative quantities to positive

In [107]:
df["Quantity"].value_counts()

 1        148227
 2         81829
 12        61063
 6         40868
 4         38484
           ...
-472           1
-161           1
-1206          1
-272           1
-80995         1
Name: Quantity, Length: 722, dtype: int64

In [126]:
qts = []
qty =  np.array(df["Quantity"])
for i in qty:
    v = abs(i)
    qts.append(v)
# qts

In [127]:
df = pd.concat([df, pd.DataFrame(qts)], axis = 1)

In [128]:
df.columns

Index([  'InvoiceNo',   'StockCode', 'Description',    'Quantity',
       'InvoiceDate',   'UnitPrice',  'CustomerID',     'Country',
              'Date',        'Time',             0],
      dtype='object')

In [129]:
df = df.drop(columns = "Quantity", axis = 1)

In [130]:
name = {0: "Quantity"}
df.rename(columns=name, inplace=True)
df.head()

,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time,Quantity
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,08:26:00,6
1,536365,71053,WHITE METAL LANTERN,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,08:26:00,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6

In [131]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'InvoiceDate', 'UnitPrice',
       'CustomerID', 'Country', 'Date', 'Time', 'Quantity'],
      dtype='object')

In [132]:
df["Quantity"].value_counts()

1      152411
2       83224
12      61627
6       41386
4       38986
        ...
346         1
648         1
142         1
107         1
990         1
Name: Quantity, Length: 487, dtype: int64

# product with highest qty and the country

In [171]:
prod = df[["Description", "Quantity", "Country"]]
h = prod.groupby(["Description", "Country"])["Quantity"].sum().reset_index()
h.columns = ["Description/Product", "Country", "Total_Quantity"]
h.sort_values(ascending=False, by= "Total_Quantity").head(1)

               Description/Product         Country  Total_Quantity
11481  PAPER CRAFT , LITTLE BIRDIE  United Kingdom          161990

# hour with highest sales based on the qty

In [145]:
df.head()

,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time,Quantity
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,08:26:00,6
1,536365,71053,WHITE METAL LANTERN,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,08:26:00,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,08:26:00,6

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  541909 non-null  object
 3   InvoiceDate  541909 non-null  object
 4   UnitPrice    541909 non-null  float64
 5   CustomerID   541909 non-null  object
 6   Country      541909 non-null  object
 7   Date         541909 non-null  object
 8   Time         541909 non-null  object
 9   Quantity     541909 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 41.3+ MB

In [147]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["Date"] = pd.to_datetime(df["Date"])
df["Time"] = pd.to_datetime(df["Time"])

In [151]:
df["Hours"] = df["Time"].dt.hour
df["Minutes"] = df["Time"].dt.minute

In [154]:
df.head()

,InvoiceNo,StockCode,Description,InvoiceDate,UnitPrice,CustomerID,Country,Date,Time,Quantity,Minutes,Hours
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010-12-01,2022-07-04 08:26:00,6,26,8
1,536365,71053,WHITE METAL LANTERN,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2022-07-04 08:26:00,6,26,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,2010-12-01,2022-07-04 08:26:00,8,26,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2022-07-04 08:26:00,6,26,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,2010-12-01,2022-07-04 08:26:00,6,26,8

In [158]:
hours = df[["Hours", "Quantity"]]
h = hours.groupby("Hours")["Quantity"].sum()
h.sort_values(ascending=False)

Hours
10    955388
12    883915
13    745133
11    718154
15    693252
14    641677
9     614220
16    364937
17    234167
8     160111
18     73999
19     34186
7      15379
20     10906
6         88
Name: Quantity, dtype: int64

In [175]:
time = df[(df.Hours >= 19)]
countries = time.groupby("Country")["Quantity"].sum().reset_index()
countries.columns = ["Country", "Total_Quantity"]
countries.sort_values(ascending=False, by= "Total_Quantity")

          Country  Total_Quantity
6  United Kingdom           41471
2         Finland            1254
0         Denmark            1025
1            EIRE            1022
5        Portugal             313
3          France               4
4         Germany               3